doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keyword', content='')
    meta(name='author', content='Andrew Sheppard')

    title Adilan Villas &amp; Apartments

    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='/css/peppermint.suggested.css')
    link(rel='stylesheet', href='/css/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/css/main.min.css')

    include ./includes/compatibility.pug
  body
    header
      include ./includes/navbar.pug

    main
      include ./sections/hero.pug
      include ./sections/introduction.pug
      include ./sections/testimonials.pug
      include ./sections/accommodation.pug
      include ./sections/booking.pug
      include ./sections/contact.pug

      footer &copy; 2017 Adilan Villas &amp; Apartments

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.36/system-polyfills.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.36/system.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/page.js/1.7.1/page.min.js')
    script(src='/js/peppermint.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/scroll-in.min.js')
    script.
      (window.adilan = window.adilan || {}).config = (function() {
        'use strict';

        return !{JSON.stringify(Config)};
      })();

      (function() {
          'use strict';

          function SystemCacheBuster() {
              var systemLocate = System.locate;
              System.locate = function(load) {
                  var System = this;
                  return Promise.resolve(systemLocate.call(this, load)).then(function(address) {
                      if (address.lastIndexOf('html.js') > -1) return address;
                      if (address.lastIndexOf('css.js') > -1) return address;
                      return address + System.cacheBust;
                  });
              };
              System.cacheBust = '?bust=' + Date.now();
          }

          //* FOR DEVELOPMENT ONLY!
          SystemCacheBuster(); // Cache busting for SystemJS
          //*/

          System.config({
              baseURL: '/js'
          });

          System.import('main.min.js');
      })();

    include ./includes/google-analytics.pug
