.contact-and-social
  .container
    .row
      .col-md-4
        h5 Customer Support
        ul
          li
            a(href='tel:+4402037255555') +44 (0)203 725 5555
          li
            a(href='mailto:support@atgmedia.com') support@atgmedia.com
      .col-md-4
        ul
          li
            a(href='http://antiquestradegazette.com', target='_blank') Antiques Trade Gazette
          li
            a(href='http://atgmedia.com', target='_blank') ATG Media
          li
            a(href='http://bidspotter.com', target='_blank') BidSpotter.com
          li
            a(href='http://bidspotter.co.uk', target='_blank') BidSpotter.co.uk
          li
            a(href='http://i-bidder.com', target='_blank') i-Bidder.com
          li
            a(href='http://globalauctionplatform.com', target='_blank') Global Auction Platform
      .col-md-4
        a.fa.fa-facebook-square(href='http://facebook.com/pages/the-saleroomcom/172133276208352', target='_blank', rel='nofollow')
        a.fa.fa-twitter-square(href='http://twitter.com/thesaleroom', target='_blank', rel='nofollow')
        a.fa.fa-pinterest-square(href='http://pinterest.com/thesaleroom', target='_blank', rel='nofollow')
        a.fa.fa-google-plus-square(href='http://plus.google.com/116671289919614655674?prsrc=3', target='_blank', rel='nofollow')
        a.fa.fa-linkedin-square(href='http://linkedin.com/company/the-saleroom-com', target='_blank', rel='nofollow')
