.navbar
  nav
    ul.nav-list
      li.nav-item
        a(href='/') Home
      li.nav-item
        a(href='/welcome') Welcome
      li.nav-item
        a(href='/testimonials') Testimonials
      li.nav-item
        a(href='/accommodation-and-restaurant') Accommodation &amp; Restaurant
      li.nav-item
        a(href='/contact-us') Contact Us