.navbar
  nav
    ul.nav-list
      li.nav-item.active
        a(href='/') Home
      li.nav-item
        a(href='/todo') Accommodation
      li.nav-item
        a(href='/todo') Restaurant
      li.nav-item
        a(href='/todo') Surrounding Area
      li.nav-item
        a(href='/todo') Contact Us