.navbar
  nav
    ul.nav-list
      li.nav-item.active
        a(href='/') Welcome
      li.nav-item
        a(href='/testimonials') Testimonials
      li.nav-item
        a(href='/accommodation') Accommodation &amp; Restaurant
      li.nav-item
        a(href='/contact') Contact Us