.navbar.open(tabindex='0')
  a.nav-toggle.nav-open(href='#')
    i.fa.fa-bars.fa-fw
  a.nav-toggle.nav-close(href='#')
    i.fa.fa-close.fa-fw
  nav
    a(href='/') Home
    a(href='/welcome') Welcome
    a(href='/testimonials') Testimonials
    a(href='/accommodation-and-restaurant') Accommodation &amp; Restaurant
    a(href='/contact-us') Contact Us