@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Raleway, helvetica, arial, sans-serif;
  backface-visibility: hidden;

  &:before {
    display: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 5;
  }

  &.overlay {
    overflow: hidden;
    user-select: none;

    &:before {
      display: block;
    }
  }
}

*[tabindex], a, a img, li, li a {
  outline: 0;
  border: 0;
  text-decoration: none;
  user-select: none;
}

body {
  > header, > main, > footer {
    position: relative;
  }

  > header {
    position: fixed;
    width: 100%;
    z-index: 9;
  }

  > main > footer {
    display: block;
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: #fff;
  }
}

.navbar {
  position: fixed;
  height: 100%;
  width: 16em;
  z-index: 9;
  border: 0 solid #11DFC7;
  border-right-width: .2em;
  background-color: rgba(0, 0, 0, .75);
  transition: transform .5s ease;
  transform: translateX(-16em);

  @media (min-width: 750px) {
    border-right-width: 0;
    border-bottom-width: .2em;
    height: auto;
    width: 100%;
    transform: translateX(0);
  }

  a {
    color: #11DFC7;

    &:hover {
      text-shadow: 0 0 1em #fff;
      color: #fff;
    }
  }

  .nav-toggle {
    position: absolute;
    top: 0;
    right: -3.7em;
    padding: 1em;
    border: 0 solid #11DFC7;
    border-radius: 0 0 1em;
    border-right-width: .2em;
    border-bottom-width: .2em;
    background-color: inherit;
    transition: opacity .5s ease;

    &.nav-open {
      opacity: 1;
    }

    &.nav-close {
      opacity: 0;
    }

    @media (min-width: 750px) {
      display: none;
    }
  }

  nav {
    > a {
      display: block;
      padding: 1em;
    }

    @media (min-width: 750px) {
      > a {
        display: inline-block;
        padding: .75em 2em;
      }

      text-align: center;
    }
  }

  &.open {
    transform: translateX(0);

    .nav-toggle {
      &.nav-open {
        opacity: 0;
      }

      &.nav-close {
        opacity: 1;
      }
    }
  }
}

.page {
  background-color: rgba(255, 255, 255, .9);
  position: fixed;
  top: 4.25em;
  left: 1em;
  height: calc(100% - 5.25em);
  width: calc(100% - 2em);
  box-shadow: 0 0 1em 0 #000;
  border-radius: .5em;
  overflow: auto;
  z-index: 9;
}

section {
  padding: 6rem 0;
  text-align: center;
}

.heading,
.description {
  margin-bottom: 1.2rem;
}

.hero {
  position: relative;
  background-attachment: fixed;
  background-image: url('/img/IMG-20161002-WA0003.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 6em 0;

  .hero-title {
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 1em;
    text-shadow: 0 0 1em #000;
  }

  .TA_cdsratingsonlynarrow {
    position: absolute;
    right: 2em;
    bottom: 2em;
  }

  .fb-like {
    position: absolute;
    right: 14em;
    bottom: 2em;
  }

  @media (min-width: 550px) {
    padding: 12em 0;
  }
}

section.welcome {
  .peppermint {
    float: right;
    width: 15em;
    margin-left: 1em;
    margin-bottom: 0;

    .pepperint-slides, .peppermint-dots {
      padding: 0
    }

    figure {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 10em;
      width: 15em;

      &:first-child {
        background-image: url('/img/DSC_0101.jpg');
      }

      &:nth-child(2) {
        background-image: url('/img/DSC_0102.jpg');
      }

      &:nth-child(3) {
        background-image: url('/img/DSC_0103.jpg');
      }

      &:nth-child(4) {
        background-image: url('/img/DSC_0104.jpg');
      }

      &:nth-child(5) {
        background-image: url('/img/DSC_0105.jpg');
      }

      &:last-child {
        background-image: url('/img/DSC_0109.jpg');
      }
    }
  }

  .peppermint-dots > li:not(.peppermint-active-dot) > span {
    background-color: #666;
  }

  .peppermint-dots > li.peppermint-active-dot > span {
    border-color: #666;
  }
}

.rc-anchor-light {
  * {
    background-color: rgba(255, 255, 255, .25);
  }
}

section.testimonials {
  background-image: url('/img/IMG-20160928-WA0005.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 0 1em #000;

  blockquote {
    padding: 0 .5em;
  }

  footer {
    font-weight: bold;
  }

  .peppermint-dots > li:not(.peppermint-active-dot) > span {
    background-color: #fff;
    box-shadow: 0 0 .5em #000;
  }

  .peppermint-dots > li.peppermint-active-dot > span {
    border-color: #fff;
    box-shadow: 0 0 .5em #000;
  }
}

section.contact-us   {
  background-image: url('/img/IMG-20160928-WA0010.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  color: #fff;
  text-shadow: 0 0 1em #000;

  form {
    text-align: left;

    textarea {
      height: 10em;
    }

    button[type='submit'] {
      float: right;
    }
  }

  ul > li {
    .fa {
      left: auto;
      right: -2.14285714em;
    }

    &, a {
      text-align: right;
    }

    a {
      display: inline-block;
      line-height: 2.5em;
      color: #fff;

      &:hover {
        color: #11DFC7;
      }
    }
  }
}

.card {
  margin: 1.2rem 0;

  > .heading {
    height: 15em;

    &:before {
      display: block;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 100%;
    }
  }

  > .description {
  }
}

.card.apartments > .heading:before {
  background-image: url('/img/apartments.jpg');
}

.card.villas > .heading:before {
  background-image: url('/img/villas.jpg');
}

.card.melon-grove > .heading:before {
  background-image: url('/img/melon-grove.jpg');
}

.card.villa-ayberk > .heading:before {
  background-image: url('/img/villa-ayberk.jpg');
}

.card.villa-adil > .heading:before {
  background-image: url('/img/villa-adil.jpg');
}

.card.restaurant > .heading:before {
  background-image: url('/img/restaurant.jpg');
}

@media (min-width: 550px) {
  .offset-by-one-quarter.column,
  .offset-by-one-quarter.columns {
    margin-left: 17.3333333333%;
  }
}

.ui-datepicker {
  * {
    user-select: none;
    outline: 0;
  }

  &.ui-datepicker-multi {
    //width: auto !important;
  }

  td {
    a, span {
      border: 1px solid #fff;
      border-radius: .5em;
      text-align: center;
      width: 2em;

      &.ui-state-active {
        background-color: #1EAEDB;
        color: #fff;
      }

      &.ui-state-hover {
        border-color: #1EAEDB;
      }
    }

    &.ui-datepicker-reserved {
      a, span {
        background-color: #1EAEDB;
        color: #fff;
      }

      &.ui-datepicker-checkin,
      &.ui-datepicker-checkout {
        a, span {
          background-color: #fff;
          border-color: #1EAEDB;
          color: #1EAEDB;
        }
      }
    }
  }

  .ui-datepicker-current-day {

  }

  .ui-datepicker-today {
    a, span {
      &:not(.ui-state-hover) {
        border-color: #11DFC7;
        color: #11DFC7;
      }
    }
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    border: 1px solid #fff;
    border-radius: .5em;
    text-align: center;
    text-indent: 0;

    &:before, &:after {
      display: inline-block;
    }

    &.ui-state-hover {
      border-color: #1EAEDB;
      top: 2px;
    }
  }

  .ui-datepicker-prev {
    &:before {
      content: '←';
    }

    &, &.ui-state-hover {
      left: 10px;
    }
  }

  .ui-datepicker-next {
    &:after {
      content: '→';
    }

    &, &.ui-state-hover {
      right: 10px;
    }
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}

.fade-in-up {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in-up;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}