section.accommodation-and-restaurant
  .container
    h3.heading We have wonderful villas and apartments...
    .row
      .one-third.column
        .card.apartments
          .heading
          .description Our Apartments are ideal for couples and families looking for an affordable base from which to explore the lovely Dalyan area of Turkey.
          a.button(role='button') Read more
      .one-third.column
        .card.villas
          .heading
          .description Our Villas are ideal for couples and families looking for an affordable base from which to explore the lovely Dalyan area of Turkey.
          a.button(role='button') Read more
      .one-third.column
        .card.melon-grove
          .heading
          .description Melon Grove is now being offered as 2 seperate apartments. It is five minutes away from the town centre.
          a.button(role='button') Read more
    .row
      .one-third.column.offset-by-one-quarter
        .card.villa-ayberk
          .heading
          .description Our Apartments are ideal for couples and families looking for an affordable base from which to explore the lovely Dalyan area of Turkey.
          a.button(role='button') Read more
      .one-third.column
        .card.villa-adil
          .heading
          .description Our Villas are ideal for couples and families looking for an affordable base from which to explore the lovely Dalyan area of Turkey.
          a.button(role='button') Read more
    hr
    h3.heading We also have a wonderful restaurant in town...
    .row
      .one-third.column.offset-by-one-third
        .card.restaurant
          .heading
          .description We have our very own restaurant on Market Square. So please come along to sample some fine Turkish cooking. We pride ourselves on being friendly and fun.
          a.button(role='button') Read more