.hero
  include ../includes/tripadvisor-ratings-widget.pug
  include ../includes/facebook-like-widget.pug
  .container
    .hero-title
      h1.heading Adilan Villas &amp; Apartments
      p.description If your looking for a great holiday in a warm, sunny, beautiful and friendly location then look no further.