.hero
  include ../includes/tripadvisor-ratings-widget.pug
  .container
    .hero-title
      h1.heading Adilan's Villas & Apartments
      p.description If your looking for a great holiday in a warm, sunny, beautiful and friendly location then look no further.