section.testimonials
  .container
    h3.heading You have to take our word for it...
    .description
      #testimonials-carousel.peppermint.peppermint-inactive
        blockquote
          p We had our first own booked and planned holiday to Dalyan which went very smoothly we just booked our flights and contacted Adlilan villas with our dates who arranged our collection to and from the airport for a reasonable charge. We booked the upstairs apartment at the Melon Grove for me the wife and our two children and the downstairs apartment for my mum and dad so that we were all together but with our own space. The apartments were well kept and homely with everything we needed as well as a fantastic garden, covered patio area and good sized pool.
          p The walk into town was a leisurely 15-20 minute walk or 5mins by taxi which are cheap. The town is lovely and peaceful with an unspoilt feel and ideal for families with a lively bar area tucked out of the way on its own if you want it. We spent most days at the beach returning late afternoon which we got to by taxi stopping for shopping on the way back and enjoying a dip in the pool sipping a cold beer after our hard day. It was a very relaxing and stress free holiday and the slightly rural feel made us feel part of the community for a while.
          p The people at Adilan villas are friendly, unobtrusive and will stop for a chat if you wish them to or if you require any help and advice. There are a few ground rules but you are left to just enjoy yourself with no pushy reps trying to get you go on a trip but if you do want to do something just ask and they will do their best to arrange it for you as everyone knows everyone in Dalyan, We are returning the same time, same place this year and cant wait to get back. Thanks for a great holiday and we looking forward to our next visit
          footer Lee, Paula, Abigail, Jamie, Billy and Sylvia
        blockquote
          p We stayed in an appartment for a week in 2007 and had a thoroughly enjoyable and relaxing time. We found our accomodation to be spacious clean and comfortable and a good base for walking in to the town. The gardens are very well kept, the pool was clean and safe and we liked the bar arrangement where you keep your own tabs settling up as and when you choose - as long as it is before you return home of course!
          p What really helped make our holiday was the people, in Mitat and his family we had perfect hosts who were always around to help with any queries and the fact that they provided snacks as well was a real bonus. We ate at Adil's excellent restaurant on two evenings and also had a very good breakfast one market day as the restaurant is on the edge of the market square. Like Mitat we found Adil and his staff to be very friendly and welcoming and it these touches that do indeed make a holiday that little bit more special. We loved the town with its riverside location which made a nice change from a beach resort. The town is not too big, has a good selection of shops and stalls and many good quality restaurants lining the riverside each with candle lit tables that come in to their own as the sun disappears over the hills. If you want to visit the beach then the small river boats provide a lovely picturesque excursion and is well worth doing at least once.
          p Our daughter and fiance were so impressed with our photos and the web site that they are spending their two week honeymoon in Melon Grove this August and we are joining them with our grand daughter for the second week. Just can't wait to get back there!
          footer Les and Angie Hume
        blockquote
          p Delightful family run apartments, friendly atmosphere and good accommodation. Set in a quiet area but only a short walk from the bars and restaurants. The owners arrange all trips and are happy to cook breakfast in the morning by the pool if required, and nothing appears to be to much trouble for them.
          p Our stays have always been in the apartments which are spacious, clean and bright and having the added bonus of two balconies - one which looks over the mountains and the nearby fields where chickens and hens run freely adding to the ambience of Adilan surroundings. So if you're looking for a no fuss relaxing holiday in beautiful Dalyan run by a welcoming family - Adilan is the place to go, and it would seem that everyone we spoke to whilst there would agree as most come back every year. Highly recommended
          footer Diane Mellowship
        blockquote
          p It was our first visit to turkey so wasn't sure what to expect. We were welcomed to adilan by a friendly face, Mitak which was accepted very well after a long journey. We cannot fault our stay, it was very clean, there were no fights for sunbeds and the bar was always open! A safe environment for our boys made our holiday more relaxing. We will definitely be returning.
          p Leadbitters summer 2008
          footer Gill Leadbitter
        blockquote
          p Having now been to Dalyan 3 times, I regard Adil, Mitat and their families as friends rather than just people to rent accommodation from and even when not holidaying with them, I keep in regular contact through email. During our stay, my wife and I regularly eat at their fabulous restaurant and arrange all our excursions through Adil as he provides a great array of activities, that are not widely advertised and therefore provide a more personal experience at a very good price. I find that they are always on hand with any queries that may arise and they look after you like family.
          p We have stayed in both the Villa’s and apartments and find they are always clean, nicely decorated and furnished and suit perfectly for whatever budget you are working to.
          p I will continue to go there not just to holiday but to catch up with my Turkish friends.
          footer Nick Bryant
        blockquote
          p Just a quick thank you to all the friendly and helpful staff that we met in our stay at Adilan Villas. We thought that the accommodation, pool and other facilities provided were of a very good standard and I am sure that we will be staying in the villas again. Being able to have either a snack from the poolside bar or being able to order a full meal for delivery from the nearby restaurant gave us complete flexibility on the nights that we did not visit one of the many restaurants in the town or by the river. We look forward to visiting you again Kind Regards
          footer Janet and Kevin Fenwick
        blockquote
          p We simply love it here and it gets better and better each and every time we return.
          p Friendly staff, great accommodation and beautiful scenery, what more could you ask for?
          footer Paul and Kim
        blockquote
          p I stayed at one of the Villas in Sept 2009 and found it very to be very clean and everything we needed was there. I found the owners to be very helpful and nice people. Their restaurant in the town where we ate most nights had a good choice on the menu and the food was very good and reasonably priced. The staff were very helpful and again nice people.
          p I would give my experience staying at the Dalyan Villas Adilan 10 out of 10 and would definitely go back.
          footer Paul Atkins